<div class="div-new">
    <div class="title mb-4">
        <p class="font-weight-bold">{{new.subtitle}}</p>
        <h2 class="font-weight-bold">{{new.title}}</h2>
        <p>Criado por {{new.author}}, {{new.date}}.</p>
    </div>

    <div class="new-content">
        <div class="card-author">
            <div class="card">
                <div class="card-body">
                    <img src="https://cravatar.eu/avatar/{{new.author}}/130.png">
                    <p>{{new.author}}</p>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="card">
                <div class="card-body" contenteditable="true">
                    <p>
                        {{new.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>