<div class="div-spotlight">
    <div class="spotlight spotlight-first">
        <a href="novidades/{{first.slug}}">
            <div class="card" style="background-image: url('{{first.backgroundImage}}')">
                <div class="card-body">
                    <div class="text">
                        <p class="spotlight-subtitle">{{first.subtitle}}</p>
                        <p class="spotlight-title">{{first.spotlightTitle}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="spotlight spotlight-second">
        <a href="novidades/{{second.slug}}">
            <div class="card" style="background-image: url('{{second.backgroundImage}}')">
                <div class="card-body">
                    <div class="text">
                        <p class="spotlight-subtitle">{{second.subtitle}}</p>
                        <p class="spotlight-title">{{second.spotlightTitle}}</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="novidades/{{third.slug}}">
            <div class="card" style="background-image: url('{{third.backgroundImage}}')">
                <div class="card-body">
                    <div class="text">
                        <p class="spotlight-subtitle">{{third.subtitle}}</p>
                        <p class="spotlight-title">{{third.spotlightTitle}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="spotlight spotlight-all">
        <div class="card">
            <div class="card-body">
                <h2 class="title"><i class="fa fa-star"></i> Novidades</h2>
                <div class="news">
                    {{#each news}}
                    <a href="novidades/{{slug}}"><p class="font-weight-bold">{{subtitle}}</p>: {{title}}</a><br>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>