<div class="news">
    <div class="subspotlight">
        <a href="#">
            <div class="card">
            </div>
        </a>
    </div>

    <div class="news-list">
        {{#each news}}
        <div class="card">
            <div class="card-body">
                <div class="author">
                    <img src="https://cravatar.eu/avatar/{{author}}/70.png">
                    <div class="author-info">
                        <p>{{author}}</p>
                        <p>{{date}}</p>
                    </div>
                </div>
                <div class="title">
                    <p>{{subtitle}}</p>
                    <h2>{{title}}</h2>
                </div>
                <div class="content">
                    <p>{{content}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>