<h2 class="text-center font-weight-bold mb-3">NOVIDADES</h2>
<hr>

<div class="div-functions">
    <a href="/admin"><button class="btn btn-gray"><i class="fa fa-chevron-left"></i></button></a>
    <a href="/admin/novidades/adicionar"><button class="btn btn-green"><i class="fa fa-plus"></i></button></a>
</div>

{{#each news}}
<div class="card mt-4">
    <div class="card-buttons">
        <form action="/admin/novidades/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-red"><i class="fa fa-times"></i></button>
        </form>
        <a href="/admin/novidades/editar/{{_id}}"><button class="btn btn-gray"><i class="fa fa-pencil"></i></button></a>
        <a href="/novidades/{{slug}}"><button class="btn btn-gray"><i class="fa fa-eye"></i></button></a>
    </div>

    <div class="card-body text-center">
        <h2 class="font-weight-bold">{{title}}</h2>
        <p class="font-weight-bold">{{slug}}</p>
        <small>{{author}}</small>
    </div>
</div>
{{/each}}